# Task - 2 (Python Programming)

In [1]:
# Question 01
# Statement :- Lists Comprehensions

x = int(input())
y = int(input())
z = int(input())
n = int(input())

print([[i,j,k] for i in range(x+1) for j in range(y+1) for k in range(z+1) if (i+j+k) != n])

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [3]:
# Question 02
# Statement :- Find the Runner-Up Score

n = int(input())
arr = list(map(int, input().split()))[:n]
print(sorted(set(arr))[-2])

5
2 1 5 3 4 6
4

In [6]:
# Question 03
# Statement :- Nested Lists

x = []
y = []
n = int(input())
arr = [[input(), float(input())] for i in range(n)]

for i in range(n):
  x.append(arr[i][1])

for i in range(n):
  if arr[i][1] == sorted(set(x))[1]:
    y.append(arr[i][0])
  else:
    pass

print(*sorted(y), sep="\n")

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

In [7]:
# Question 04
# Statement :- Find the Percentage

n = int(input())
student_marks = {}
for _ in range(n):
  name, *line = input().split()
  scores = list(map(float, line))
  student_marks[name] = scores
query_name = input()

if query_name in student_marks:
  try:
    print("{:.2f}".format(sum(student_marks[query_name])/len(student_marks[query_name])))
  except ZeroDivisionError:
    print("Marks are not mentioned for this Student.")
  else:
    print("This Student is not Present.")

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00
This Student is not Present.

In [2]:
# Question 05
# Statement :- Lists

N = int(input())
lst = []

for i in range(N):
  operation = input().strip().split(" ")
  if operation[0] == "insert":
    lst.insert(int(operation[1]), int(operation[2]))
  elif operation[0] == "append":
    lst.append(int(operation[1]))
  elif operation[0] == "remove":
    lst.remove(int(operation[1]))
  elif operation[0] == "pop":
    lst.pop()
  elif operation[0] == "sort":
    lst.sort()
  elif operation[0] == "reverse":
    lst.reverse()
  elif operation[0] == "print":
    print(lst)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [4]:
# Question 06
# Statement :- Tuples

n = int(input())
integer_list = tuple(list(map(int, input().split()))[:n])
print(hash(integer_list))

2
1 2
3713081631934410656

In [6]:
# Question 07
# Statement :- Introduction of sets

def average(array):
  arr2 = set(array)
  return (sum(arr2)/len(arr2))

if __name__ == '__main__':
  n = int(input())
  arr = list(map(int, input().split()))[:n]
  result = average(arr)
  print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

In [8]:
# Question 08
# Statement :- No Idea!

n, m = list(map(int, input().split()))
n_ele = list(map(int, input().split()))[:n]
m_ele_A = set(list(map(int, input().split()))[:m])
m_ele_B = set(list(map(int, input().split()))[:m])
result = []

for i in n_ele:
  if i in m_ele_A:
    result.append(1)
  elif i in m_ele_B:
    result.append(-1)
  else:
    pass

print(sum(result))

3 2
1 5 3
3 1
5 7
1

In [9]:
# Question 9
# Statement :- Symmetric Difference 

n = int(input())
n_ele = list(map(int, input().split()))[:n]
m = int(input())
m_ele = list(map(int, input().split()))[:m]

print(*(sorted((set(n_ele).difference(m_ele)).union(set(m_ele).difference(set(n_ele))))), sep="\n")

4
2 4 5 9
4
2 4 11 12
5
9
11
12

In [11]:
# Question 10
# Statement :- Set.add()

arr = []
for i in range(int(input())):
  arr.append(input())

print(len(set(arr)))

7
Uk
China
USA
France
New Zealand
Uk
France
5

In [41]:
# Question 11
# Statement :- Set .discard(), .remove() and .pop()

n = int(input())
s = set(list(map(int, input().split()))[:n])

for i in range(int(input())):
  operation = input().strip().split(" ")
  if operation[0] == "pop":
    s.pop()
  elif operation[0] == "discard":
    s.discard(int(operation[1]))
  elif operation[0] == "remove":
    s.remove(int(operation[1]))
  else:
    pass

print(sum(s))

5
1 2 3 4 5
3
pop
remove 5
discard 4
5

In [12]:
# Question 12
# Statement :- Set.union() Operation

n = int(input())
n_ele = list(map(int, input().split()))[:n]
m = int(input())
m_ele = list(map(int, input().split()))[:m]

print(len(set(m_ele).union(set(n_ele))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

In [13]:
# Question 13
# Statement :- Set.intersection() Operation

n = int(input())
n_ele = list(map(int, input().split()))[:n]
b = int(input())
b_ele = list(map(int, input().split()))[:b]

print(len(set(n_ele).intersection(set(b_ele))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

In [14]:
# Question 14
# Statement :- Set.difference() Operation

n = int(input())
n_ele = list(map(int, input().split()))[:n]
m = int(input())
m_ele = list(map(int, input().split()))[:m]

print(len(set(n_ele).difference(set(m_ele))))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

In [15]:
# Question 15
# Statement :- Set.symmetric_difference() Operation

n = int(input())
n_ele = list(map(int, input().split()))[:n]
m = int(input())
m_ele = list(map(int, input().split()))[:m]

print(len(set(n_ele).symmetric_difference(m_ele)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

In [40]:
# Question 16
# Statement :- Set Mutations

setA_len = int(input())
A = set(list(map(int, input().split()))[:setA_len])

for i in range(int(input())):
  operation = input().strip().split(" ")
  B = set(list(map(int, input().split()))[:int(operation[1])])
  if operation[0] == "intersection_update":
    A.intersection_update(B)
  elif operation[0] == "update":
    A.update(B)
  elif operation[0] == "symmetric_difference_update":
    A.symmetric_difference_update(B)
  elif operation[0] == "difference_update":
    A.difference_update(B)
    
print(sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

In [30]:
# Question 17
# Statement :- The Captain's Room 1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2

n = int(input())
arr = list(map(int, input().split()))

print((sum(set(arr))*n - sum(arr))//(n-1))

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8
113

In [18]:
# Question 18
# Statement :- Check Subset

lst = []

for i in range(int(input())):
  setA_len = int(input())
  A = list(map(int, input().split()))[:setA_len]
  setB_len = int(input())
  B = list(map(int, input().split()))[:setB_len]

  lst.append("True" if (set(A).issubset(set(B))) else "False")

print(*lst, sep="\n")

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
1
2
5
3 6 5 4 1
7
1 2 3 5 6 8 9
3
9 8 2
True
False
False

In [16]:
# Question 19
# Statement :- Check Strict Superset

A = set(input().split())
flag = 0

for i in range(int(input())):
  B = set(input().split())

  if not A.issuperset(B):
    flag = 1
  elif A.issuperset(B) and len(A)==len(B):
    flag = 1

print("True" if flag == 0 else "False")

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False